.space-wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
}

#background {
  position: inherit;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
 }

img, .image {
  position: inherit;
  height: 100%;
  width: 100%;
}

.content, .text {
  border-style: none;
  font-size: 16px;
}

.x-button {
  z-index: 10;
}
// ul[dnd-list], ul[dnd-list] > div {
//     position: relative;
// }
