.space-wrapper {
  min-height: 1080px;
  max-height: 1440px;
  width: 100%;
  position: absolute;
}

#spaceDelete {
  margin: 10px 0px 10px 0px;
}

#posSave {
  margin: 10px 0px 10px 0px;
}

#background {
  position: inherit;
  min-height: 100%;
  height: inherit;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
 }


img, .image {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

.content, .text {
  border-style: none;
  font-size: 16px;
}

.button {
  z-index: 10;
  position: relative;
}

.menu {
  min-height: 220px;
  max-height: 450px;
  padding: 24px;
}

#logoutButton {
  margin: 10px;
  width: 140px;
}

ul , li {
  list-style: none;
}

div.gridster-div:hover button {
  display: block;
  top: 0px;
}

div.gridster-div button {
  position:absolute;
  display:none;
}
