#background {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
 }

img, .image {
  height: 220px;
}

.content.text {
  border-style: none;
  font-size: 16px;
}
